@use "../utils" as *;

@media #{$sm} {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-sm {
    max-width: 90% !important;
  }
}

@media #{$lg} {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}

@media #{$md} {
  .container,
  .container-md,
  .container-sm {
    max-width: 1200px;
  }
}

@media #{$sm} {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
